<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriSphere: A Comprehensive Calorie Tracking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link to CSS file for styling -->
</head>
<body>
    <!-- Header & Navigation -->
    <header>
        <h1>NutriSphere: A Comprehensive Calorie Tracking System</h1>
        <nav>
            <a href="{{ url_for('home') }}">🏠 Home</a>
            <a href="{{ url_for('users') }}">👤 Users</a>
            <a href="{{ url_for('daily_trackers') }}">🗓️ Daily Trackers</a>
            <a href="{{ url_for('food_entries') }}">🍽️ Food Entries</a>
            <a href="{{ url_for('food_items') }}">🥗 Food Items</a>
            <a href="{{ url_for('exercises') }}">🏋️ Exercises</a>
        </nav>
    </header>

    <!-- Welcome Section -->
    <main class="container">
        <section class="welcome-section">
            <h2>Welcome to NutriSphere's Admin Portal</h2>
            <p>Your ultimate solution for managing the database behind our users' nutrition metrics and exercise patterns.</p>
            <a href="{{ url_for('users') }}" class="btn">Get Started</a>
        </section>
    </main>


</body>
</html>
